.container{
    margin: 0;
    padding: 0;
}

 /* // Header Section //  */

.app_header{
    display: flex;
    justify-content: space-between;
}

.nav_bar{
    display: flex;
}

.nav_bar li {
    list-style: none;
    padding: 1rem;
}
.nav_bar li a{
    text-decoration: none;
    /* color: ; */

}