.container{
    margin: 0;
    padding: 0;
}

.card_container{
    display: flex;
    flex-wrap: wrap;
}

.card{
    background-color: blanchedalmond;
    justify-content: space-between;
    width: 300px;
    padding: 10px;
    border-radius: 25px;
    margin: 10px;
}

.container .card_container .card:hover{
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.459);
}

.card_info{
display: flex;
justify-content: space-between;
}

.student_info strong{
    color: royalblue;}

.student_info img{
    border-radius: 50%;
    width:100px ;
    height: 100px;
    border: 2px solid royalblue;
}


.univerctiy_info strong {
    color: royalblue;
}

.univercity_info img{
    margin-top: 200px;
    width: 250px;
    height: 250px;
}

.more{
    color:rgba(0, 0, 0, 0.555);
    padding-left: 35%;
}