.nav {
    background-color: rgba(87, 87, 87, 0.733);
}

.nav img {
    border: 2px solid rgba(255, 255, 255, 0.993);
    border-radius: 50%;
    width: 114px;
    height: 125px;
    margin: 1rem;
    margin-left: 9rem;
    box-shadow: 0.2rem 0.2rem 5rem white;
}

hr {
    width: 100%;
    border: 1px solid #ffc107;
}

::marker {
    color: #ffc107;
}

p {
    font-size: larger;
}

span {
    font-weight: bold;
    color: #ffc107;
}

h1 {
    margin-top: 5rem;
}

.nav_info {
    margin: 0.5rem;
    padding: 1rem;
    margin-left: 9rem;
}

.nav_info a {
    text-decoration: none;
    color: white;
    font-size: large;
}

.main {
    background-color: rgba(87, 87, 87, 0.733);

}

.info {
    margin-top: 0.5rem;
    padding: 1rem;
    color: white;
    display: none;
    text-align: justify;
}

.info ul li {
    list-style: disclosure-closed;
}

.info:target {
    display: block;
}

.nav_info a p:hover {
    color: #ffc107;
}


@media (min-width:768px) {
    .container {
        display: flex;

    }

    .nav {
        width: 21rem;
        margin-right: 1rem;
    }

    .nav img {
        margin-left: 6.9rem;
    }

    .nav_info {
        margin-left: 6rem;
    }

    .info {

        width: 30%rem;
        height: 10rem;
        margin-top: 0;
        height: auto;
        margin-top: 1rem;
    }

    .main {
        width: 25rem;
        height: 70vh;
    }
}

@media (min-width:1024px) {
    .main {
        width: 41rem;
        height: 70vh;
    }

}

@media (min-width:1440px) {
    .nav {
        height: 70vh;
    }

    .main {
        width: 66rem;

    }

}